@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", serif;
$second-font-family: "Oswald", sans-serif;
$third-font-family: "Roboto", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #000;
$black2: #242424;
$white: #fff;
$white2: #f9f2e5;
$navy: #001e63;
$navy2: #001135;
$navy3: #061944;
$navy4: #040404;
$gray: #626262;
$gray2: #a9a9a9;
$gray3: #f8f8f8;
$gray4: #f3f3f3;
$gray5: #e2e2e2;
$gray6: #e9eeef;
$gray7: #f8f9f9;
$gray8: #e4e4e4;
$blue: #011950;
