.common-btn {
  text-decoration: none;
}

.common-btn p {
  position: relative;
  display: inline-block;
}

.common-btn p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor; /* テキストと同じ色を使用 */
  transition: width 0.3s ease; /* アニメーションの設定 */
}

.common-btn:hover p::after {
  width: 100%; /* ホバー時に下線を100%の幅まで広げる */
}

.slide-text {
  width: 100%;
  overflow: hidden;
  background-color: #333;
  padding: 20px 0;
}

.slide-text__inner {
  display: flex;
  white-space: nowrap;
  animation: slide-text 20s linear infinite;
}

.slide-text__content {
  color: #fff;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0 50px;
}

@keyframes slide-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* スマホ表示時にsub-news-list__textの文字数を制限 */
@media screen and (max-width: 767px) {
  .sub-news-list__text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
