@use "global" as *;

.about-nav {
  margin-top: rem(22);
  @include mq("md") {
    margin-top: rem(74);
  }
}

.about-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(40);
  @include mq("md") {
    gap: rem(120);
  }
}
