@use "global" as *;

.company-swiper {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.company-swiper .swiper-wrapper {
  transition-timing-function: linear;
}

.company-swiper .swiper-slide img {
  width: 100%;
  aspect-ratio: 180/150;
  object-fit: cover;
}
