@use "global" as *;

.common-btn {
  padding-right: rem(16);
  position: relative;
  display: inline-block;
  font-family: $third-font-family;
  font-size: rem(14);
  font-weight: $medium;
  color: $navy;
  line-height: 1;
  text-transform: uppercase;
}

.common-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(1);
  width: rem(6);
  height: rem(6);
  border-top: rem(1) solid $navy;
  border-right: rem(1) solid $navy;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s;
}

.common-btn:hover {
  opacity: 1;
}

.common-btn:hover::before {
  right: rem(-4);
}

.common-btn p {
  position: relative;
  display: inline-block;
}

.common-btn p::after {
  content: "";
  position: absolute;
  top: rem(17);
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.common-btn:hover p::after {
  width: 100%;
}

.common-btn-wrap {
  text-align: right;
}

.common-btn.common-btn--box {
  padding: rem(14) rem(39) rem(14) rem(23);
  border: rem(1) solid $navy;
  border-radius: rem(5);
}

.common-btn.common-btn--box:before {
  right: rem(25);
}

.common-btn.common-btn--box:hover::before {
  right: rem(18);
}

.service-list__item:hover .common-btn.common-btn--box:before {
  right: rem(18);
}

.service-list__item:hover .common-btn.common-btn--box p::after {
  width: 100%;
}
