@use "global" as *;

.common-breadcrumb__inner {
  text-align: right;
  padding-right: rem(11);
  margin-right: auto;
  font-size: rem(10);
  font-family: $third-font-family;
  @include mq("md") {
    font-size: rem(15);
    padding-right: rem(60);
  }
}

.common-breadcrumb__inner a {
  color: $gray2;
  transition: opacity 0.3s;
}

.common-breadcrumb__inner a:hover {
  opacity: 0.7;
}

.common-breadcrumb__separator {
  position: relative;
  display: inline-block;
  width: rem(20);
  height: rem(1);
  margin: 0 rem(7.6);
  vertical-align: middle;
  @include mq("md") {
    margin: 0 rem(6.6);
  }
}

.common-breadcrumb__separator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: rem(0.5);
  background-color: $gray2;
  transform: translateY(-50%);
  @include mq("md") {
    height: rem(1);
  }
}

.current-item {
  color: $black2;
  font-family: $third-font-family;
}

// SPでContactをcurrent-itemにする（contact-completeページのみ）
.common-breadcrumb__inner--contact-complete span:nth-child(3) a {
  color: $black2;
  @include mq("md") {
    color: $gray2;
  }
}

// PCでCompleteをcurrent-itemにする
.common-breadcrumb__inner span:nth-child(8) .current-item {
  color: $gray2;
  @include mq("md") {
    color: $black2;
  }
}

// SPで4つ目以降のスパンを非表示（contact-completeページのみ）
.common-breadcrumb__inner--contact-complete span:nth-child(n + 4) {
  display: none;
  @include mq("md") {
    display: inline-block;
  }
}

.common-breadcrumb__inner--contact-complete {
  @include mq("md") {
    padding-right: rem(22);
  }
}
