@use "global" as *;

.common-breadcrumb__inner {
  text-align: right;
  padding-right: rem(11);
  margin-right: auto;
  font-size: rem(10);
  font-family: $third-font-family;
  @include mq("md") {
    font-size: rem(15);
    padding-right: rem(60);
  }
}

.common-breadcrumb__inner a {
  color: $gray2;
}

.common-breadcrumb__separator {
  position: relative;
  display: inline-block;
  width: rem(20);
  height: rem(1);
  margin: 0 rem(7.6);
  vertical-align: middle;
  @include mq("md") {
    margin: 0 rem(6.6);
  }
}

.common-breadcrumb__separator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: rem(0.5);
  background-color: $gray2;
  transform: translateY(-50%);
  @include mq("md") {
    height: rem(1);
  }
}

.current-item {
  color: $black2;
  font-family: $third-font-family;
}

// SPで「Confirm」と「Complete」部分を非表示
.common-breadcrumb__inner span:nth-child(4),
.common-breadcrumb__inner span:nth-child(5),
.common-breadcrumb__inner span:nth-child(6),
.common-breadcrumb__inner span:nth-child(7),
.common-breadcrumb__inner span:nth-child(8) {
  display: none;
  @include mq("md") {
    display: inline;
  }
}
