@use "global" as *;

.contact__wrap {
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row-reverse;
  }
}

.contact__content {
  padding: rem(80) 0;
  background-color: $blue;
  text-align: center;
  width: 100%;
  @include mq("md") {
    padding: 0 0 0 calc(12.1528vw);
    width: calc(calc(620 / 1440) * 100%);
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.contact__text {
  font-size: rem(14);
  color: $white;
  line-height: calc(28 / 14);
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(30 / 18);
  }
}

.contact__btn-list {
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(4);
  }
}

.contact__btn-wrap {
  margin-top: rem(19);
  @include mq("md") {
    margin-top: rem(21);
  }
}

.contact__btn {
  padding: rem(21) 0;
  display: inline-block;
  color: $white;
  line-height: 1;
  border: rem(1) solid $white;
  max-width: rem(227);
  width: 100%;
  text-align: center;
  border-radius: rem(7);
  position: relative;
  transition: 0.3s;
  @include mq("md") {
    font-size: rem(22);
    max-width: rem(235);
  }
}

.contact__btn i {
  position: relative;
  z-index: 1;
}

.contact__btn:hover {
  opacity: 1;
}

.contact__btn span {
  margin-left: rem(10);
  position: relative;
  z-index: 1;
  @include mq("md") {
    margin-left: rem(16);
  }
}

.contact__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: scaleX(0);
  transition: 0.3s;
  transition-property: transform;
  transform-origin: right;
}

.contact__btn:hover i,
.contact__btn:hover span {
  color: $blue;
}

.contact__btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.contact__tel-btn {
  padding: rem(21) 0 rem(20) 0;
  display: inline-block;
  color: $white;
  line-height: 1;
  border: rem(1) solid $white;
  max-width: rem(227);
  width: 100%;
  text-align: center;
  border-radius: rem(7);
  @include mq("md") {
    font-size: rem(22);
    max-width: rem(235);
    pointer-events: none;
    cursor: default;
  }
}

.contact__tel-btn span {
  margin-left: rem(10);
  @include mq("md") {
    margin-left: rem(16);
  }
}

.contact__hours {
  margin-top: rem(10);
  font-size: rem(12);
  color: $white;
  @include mq("md") {
    margin-top: rem(22);
    font-size: rem(14);
  }
}

.contact__img {
  flex: 1;
}

.contact__img img {
  width: 100%;
  display: block;
  aspect-ratio: 375/240;
  object-fit: cover;
  margin: 0;
  padding: 0;
  @include mq("md") {
    aspect-ratio: 820/446;
    height: rem(446);
  }
}
