@use "global" as *;

.fv {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: rem(480);
  margin: 0 rem(10);
  @include mq("md") {
    margin: 0 rem(80);
  }
}

.fv__inner {
  height: inherit;
  min-height: inherit;
}

.fv__wrap {
  @include mq("md") {
    display: flex;
    gap: rem(101);
  }
}

.fv__img {
  width: 100%;
  max-width: rem(355);
}

.fv__img,
.fv__img img {
  height: inherit;
  min-height: inherit;
}

.fv__img img {
  aspect-ratio: 355/480;
  object-fit: cover;
  width: 100%;
  @include mq("md") {
    aspect-ratio: 1034 / 780;
  }
}

.fv__title {
  font-size: rem(34);
  font-weight: bold;
  margin: rem(20) rem(10) 0;
  line-height: 1.45;
  @include mq("md") {
    font-size: rem(60);
    writing-mode: vertical-rl;
    margin: rem(194) 0 0 0;
  }
}
