@use "global" as *;

.loop {
  position: relative;
  // height: 100vh;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.loop__list {
  display: flex;
  width: max-content;
  animation: loopText 20s linear infinite;
  margin-top: rem(49);
  @include mq("md") {
    margin-top: rem(69);
  }
}

@keyframes loopText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop__item {
  padding: 0 rem(20);
  flex-shrink: 0;
  display: inline-block;
  color: $blue;
  font-size: rem(84);
  font-weight: $bold;
  padding-right: rem(50);
  line-height: 1;
  white-space: nowrap;
  @include mq("md") {
    font-size: rem(150);
  }
}