@use "global" as *;

.news {
}

.news__inner {
  padding: 0 rem(40);
}

.news__wrapper {
  @include mq("md") {
    display: flex;
    gap: rem(90);
  }
}

.news__sidebar {
}

.news__title {
}

.news__menu {
  margin: rem(40) 0 0 rem(34);
  @include mq("md") {
    margin: rem(45) 0 0 rem(20);
  }
}

.news__content {
  @include mq("md") {
    border-left: rem(1) solid $gray5;
    padding-left: rem(60);
    width: 100%;
    max-width: rem(836);
  }
}

.news__btn-wrap {
  text-align: right;
  margin-top: rem(45);
}
