@use "global" as *;

.news-menu {
  display: flex;
  flex-wrap: wrap;
  gap: rem(15) rem(40);
  @include mq("md") {
    flex-direction: column;
    gap: rem(24);
  }
}

.news-menu__item {
  font-size: rem(12);
  font-weight: $medium;
  color: $gray2;
  cursor: pointer;
  @include mq("md") {
    font-size: rem(14);
  }
}

.news-menu__item.is-active {
  font-size: rem(12);
  color: $black;
  position: relative;
  @include mq("md") {
    font-size: rem(14);
  }
}

.news-menu__item.is-active::before {
  content: "";
  position: absolute;
  left: rem(-13);
  top: 50%;
  transform: translateY(-50%);
  width: rem(8);
  height: rem(8);
  background-image: url(./../images/common/tab-長方形.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
