@use "global" as *;

.pagenavi__inner {
  max-width: rem(307);
  margin: 0 auto;
  width: 100%;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(56);
    margin: 0;
  }
}

.wp-pagenavi {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.pagenavi .wp-pagenavi {
  clear: both;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.pagenavi .wp-pagenavi a,
.pagenavi .wp-pagenavi span {
  margin: 0 rem(4);
  padding: rem(9.5) rem(16.5);
  font-size: rem(14);
  line-height: 1;
  font-family: $second-font-family;
  font-weight: $medium;
  white-space: nowrap;
  border: rem(1) solid $gray6;
  background-color: $gray6;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pagenavi .wp-pagenavi .previouspostslink,
.pagenavi .wp-pagenavi .nextpostslink {
  background-color: transparent;
  border: none;
  margin: 0 rem(2);
  padding: rem(9.5) 0 rem(9.5) rem(8);
}

.pagenavi .wp-pagenavi .previouspostslink {
  padding-right: rem(18);
  margin: 0;
  padding-left: 0;
}

.pagenavi .wp-pagenavi .nextpostslink {
  padding-left: rem(18);
  margin: 0;
}

.pagenavi .wp-pagenavi a:hover {
  color: $white;
  background-color: $navy;
  border-color: $navy;
  opacity: 1;
}

.pagenavi .wp-pagenavi .previouspostslink:hover,
.pagenavi .wp-pagenavi .nextpostslink:hover {
  background-color: transparent;
  border: none;
}

.pagenavi .wp-pagenavi .current {
  color: $white;
  background-color: $navy;
  border-color: $navy;
}

.pagenavi .wp-pagenavi .previouspostslink img,
.pagenavi .wp-pagenavi .nextpostslink img {
  vertical-align: middle;
  transition: 0.3s;
}

.pagenavi .wp-pagenavi .previouspostslink:hover img,
.pagenavi .wp-pagenavi .nextpostslink:hover img {
  opacity: 0.7;
}
