@use "global" as *;

.philosophy {
  position: relative;
}

.philosophy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - rem(84));
  background-color: $gray3;
  z-index: -1;
  @include mq("md") {
    display: none;
  }
}

.philosophy__inner {
  @include mq("md") {
    display: flex;
  }
}

.philosophy__content {
  @include mq("md") {
    padding: rem(70) rem(30) rem(70) rem(30);
    flex: 1;
    background-color: $gray3;
  }
}

.philosophy__text {
  font-size: rem(14);
  line-height: calc(32 / 14);
  margin-top: rem(30);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(60);
  }
}

.philosophy__name {
  font-size: rem(14);
  margin-top: rem(30);
  text-align: right;
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(40);
  }
}

.philosophy__img {
  @include mq("md") {
    width: calc(calc(360 / 1100) * 100%);
  }
}

.philosophy__img img {
  margin-top: rem(30);
  width: 100%;
  aspect-ratio: 335 / 300;
  object-fit: cover;
  @include mq("md") {
    margin-top: 0;
    aspect-ratio: 360 / 535;
    height: 100%;
  }
}