@use "global" as *;

.sub-news-container__inner {
  @include mq("md") {
    display: flex;
    gap: rem(91);
    max-width: rem(1207.74);
    justify-content: space-between;
  }
}

.sub-news-container__inner.inner {
  padding-left: rem(25);
  padding-right: rem(25);
}
