@use "global" as *;

.sub-fv {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.sub-fv__inner.inner {
  padding-left: rem(10);
  @include mq("md") {
    padding-left: $padding-pc;
  }
}

.sub-fv__title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  padding: rem(18) rem(18) rem(36) rem(18);
  width: calc(calc(190 / 365) * 100%);
  z-index: 2;
  @include mq("md") {
    width: calc(calc(500 / 1270) * 100%);
    padding: rem(16) rem(16) rem(47) rem(50);
  }
}

.sub-fv__title-main {
  font-size: rem(44);
  font-weight: $bold;
  line-height: 1.3182;
  font-family: $second-font-family;
  text-transform: capitalize;
  @include mq("md") {
    font-size: rem(100);
  }
}

.sub-fv__title-sub {
  font-size: rem(12);
  font-weight: bold;
  @include mq("md") {
    font-size: rem(20);
  }
}

.sub-fv__img {
  margin-right: calc(50% - 50vw);
  width: 100vw;
  display: block;
  position: relative;
  height: rem(280);
  @include mq("md") {
    max-width: rem(1270);
    height: rem(514);
  }
}

.sub-fv__img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
