@use "global" as *;

.sub-news-content__heading {
}

.sub-news-content__heading-text {
  font-size: rem(16);
  font-weight: $medium;
  background-color: $gray7;
}

.sub-news-content__body {
}

.sub-news-content__common-text {
}
