@use "global" as *;

.sub-works__inner {
  padding-left: rem(40);
  padding-right: rem(40);
  @include mq("md") {
    max-width: rem(1148);
  }
}

.sub-works__wrapper {
  @include mq("md") {
    display: flex;
    // gap: rem(94);
    justify-content: space-between;
  }
}

.sub-works__sidebar {
  @include mq("md") {
    position: sticky;
    top: rem(200);
    height: fit-content;
  }
}

.sub-works__menu {
  margin-left: rem(14);
  gap: rem(14) rem(58);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  max-width: calc(calc(238 / 295) * 100%);
  @include mq("md") {
    margin-left: rem(16);
    max-width: none;
    gap: rem(19);
    grid-template-columns: 1fr;
  }
}

.sub-works__content {
  @include mq("md") {
    border-left: rem(1) solid $gray5;
    padding: 0 0 0 rem(60);
    width: 100%;
    max-width: rem(836);
  }
}

.sub-works__list-wrap {
  display: grid;
  gap: rem(20);
  margin-top: rem(38);
  @include mq("md") {
    gap: rem(30);
    margin-top: 0;
  }
}
