@use "global" as *;

.sub-works-list {
}

.sub-works-list__item {
  border-bottom: rem(1) solid $gray5;
  padding-bottom: rem(30);
  @include mq("md") {
    padding-bottom: rem(49);
  }
}

.sub-works-list__item a {
  display: flex;
  gap: rem(18);
  @include mq("md") {
    gap: rem(50);
  }
}

.sub-works-list__item-image {
  width: calc(calc(130 / 295) * 100%);
  @include mq("md") {
    width: 20.646%;
  }
}

.sub-works-list__item-image img {
  width: 100%;
  aspect-ratio: 130/100;
  object-fit: cover;
  transition: opacity 0.3s ease;
  @include mq("md") {
    aspect-ratio: 160/160;
  }
}

.sub-works-list__item:hover .sub-works-list__item-image img {
  opacity: 0.7;
}

.sub-works-list__item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-works-list__item-categories {
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(6);
  @include mq("md") {
    column-gap: rem(20);
    max-width: rem(680);
    width: 100%;
  }
}

.sub-works-list__item-category {
  font-size: rem(10);
  color: $gray;
  font-weight: $medium;
  background-color: $gray4;
  padding: rem(4) rem(15);
  min-width: rem(80);
  width: fit-content;
  margin-bottom: rem(14);
  @include mq("md") {
    font-size: rem(11);
    padding: rem(5) rem(18);
    margin-bottom: rem(27);
    line-height: 1;
  }
}

.sub-works-list__item-title {
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(28 / 14);
  min-width: rem(157);
  background-image: linear-gradient(90deg, $black, $black);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0 rem(1);
  display: inline;
  transition: background-size 0.5s;
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(32 / 18);
    width: 29em;
    word-wrap: break-word;
    display: block;
  }
}

.sub-works-list__item:hover .sub-works-list__item-title {
  background-size: 100% rem(1);
}

.sub-works-list__item-text {
  @include mq("md") {
    position: relative;
    line-height: calc(38 / 16);
    margin-top: rem(22);
    color: $gray;
    overflow: hidden;
    height: 4.75em;
  }
}

.sub-works-list__item-text::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  color: $gray;
}

.sub-works-list__item-date {
  display: block;
  margin-top: rem(10);
  @include mq("md") {
    // margin-top: rem(18);
    margin-top: 0;
  }
}
