@use "global" as *;

.sub-news-blog {
}

.sub-news-blog__sidebar-inner.inner {
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    max-width: rem(300);
    width: 100%;
  }
}

.sub-news-blog__sidebar-list {
}

.sub-news-blog__sidebar-item:not(:first-child) {
  margin-top: rem(40);
}

.sub-news-blog__sidebar-title {
  color: $white;
  font-size: rem(14);
  font-weight: $medium;
  background-color: $navy2;
  padding: rem(15) 0 rem(14) rem(18);
  @include mq("md") {
    padding: rem(14) 0 rem(15) rem(18);
  }
}

.sub-news-blog__article-list {
}

.sub-news-blog__article-item {
  width: 100%;
  max-width: rem(345);
}

.sub-news-blog__article-link {
  display: flex;
  padding: rem(17.5) 0;
  margin: 0 rem(18);
  border-bottom: 1px solid $gray8;
  gap: rem(18);
}

.sub-news-blog__article-item:last-child .sub-news-blog__article-link {
  border-bottom: none;
}

.sub-news-blog__article-img {
  width: 100%;
  max-width: rem(100);
}

.sub-news-blog__article-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.sub-news-blog__article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-news-blog__article-text {
  font-size: rem(12);
  line-height: calc(28 / 12);
  color: $navy4;
  @include mq("md") {
    line-height: calc(24 / 12);
  }
}

.sub-news-blog__article-date.common-date {
  @include mq("md") {
    font-size: rem(10);
  }
}

.sub-news-blog__archive-list {
}

.sub-news-blog__archive-item {
  width: 100%;
  max-width: rem(345);
}

.sub-news-blog__archive-link {
  font-size: rem(14);
  padding: rem(17.5) 0;
  margin: 0 rem(18);
  display: block;
  border-bottom: 1px solid $gray8;
}

.sub-news-blog__archive-item:last-child .sub-news-blog__archive-link {
  border-bottom: none;
}

.sub-news-blog__category-list {
}
.sub-news-blog__category-item {
  width: 100%;
  max-width: rem(345);
}

.sub-news-blog__category-item:last-child .sub-news-blog__category-link {
  border-bottom: none;
}

.sub-news-blog__category-link {
  font-size: rem(14);
  padding: rem(17) 0;
  margin: 0 rem(18);
  display: block;
  border-bottom: 1px solid $gray8;
}
