@use "global" as *;

.sub-news-detail {
  @include mq("md") {
    // display: flex;
    // gap: rem(91);
  }
}

.sub-news-detail__inner {
  padding-left: rem(30);
  padding-right: rem(30);
  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
    max-width: rem(718.47);
  }
}

.sub-news-detail__wrapper {
}
.sub-news-detail__content {
}
.sub-news-detail__list {
}
.sub-news-detail-list {
}
.sub-news-detail-list__item {
}
.sub-news-detail-list__meta {
}
.sub-news-detail-list__categories {
  display: flex;
  flex-wrap: wrap;
  gap: rem(6);
  @include mq("md") {
    gap: rem(20);
  }
}

.sub-news-detail-list__category a {
  transition: opacity 0.3s;
}

.sub-news-detail-list__category a:hover {
  opacity: 0.7;
}

.sub-news-detail-list__text {
  margin-top: rem(11);
  padding-right: rem(21);
  font-size: rem(18);
  font-weight: $medium;
  line-height: calc(30 / 18);
  // max-width: rem(294);
  width: 100%;
  @include mq("md") {
    margin-top: rem(19);
    padding-right: 0;
    font-size: rem(26);
    line-height: calc(50 / 26);
    max-width: rem(718.47);
  }
}

.sub-news-detail-list__date {
  margin-top: rem(9);
  display: block;
  @include mq("md") {
    margin-top: rem(19);
  }
}

.sub-news-detail-list__date.common-date {
  font-size: rem(10);
  @include mq("md") {
    font-size: rem(11);
  }
}

.sub-news-detail__image {
  margin-top: rem(40);
  width: 100%;
  @include mq("md") {
    margin-top: rem(41);
  }
}

.sub-news-detail__image img {
  aspect-ratio: 315 / 176;
  width: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 718.47 / 380;
  }
}

.sub-news-extra-list__item a {
  transition: opacity 0.3s;
}

.sub-news-extra-list__item a:hover {
  opacity: 0.7;
}

.common-breadcrumb__inner a {
  transition: opacity 0.3s;
}

.common-breadcrumb__inner a:hover {
  opacity: 0.7;
}