@use "global" as *;

.works__list {
  background-color: $white;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: rem(29);
  padding: rem(30) rem(40) rem(78) rem(40);
  @include mq("md") {
    margin: initial;
    margin-top: rem(57);
    padding: rem(50) rem(40) rem(47) rem(40);
  }
}

.works__content {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    max-width: rem(1150);
  }
}

.works__list-wrap {
  display: grid;
  gap: rem(30);
  @include mq("md") {
    gap: rem(50);
  }
}

.works__btn-wrap {
  text-align: right;
  margin-top: rem(32);
}
