@use "global" as *;

.works__list {
  background-color: $white;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: rem(30);
  padding: rem(30) rem(40) rem(80) rem(40);
  @include mq("md") {
    margin: initial;
    margin-top: rem(57);
    padding: rem(50) rem(40) rem(50) rem(40);
  }
}

.works__btn-wrap {
  text-align: right;
  margin-top: rem(41);
}
