@use "global" as *;

.works-list {
  display: grid;
  gap: rem(30);
  @include mq("md") {
    gap: rem(50);
  }
}

.works-list__item {
  border-bottom: rem(1) solid $gray5;
  padding-bottom: rem(30);
  @include mq("md") {
    padding-bottom: rem(50);
  }
}

.works-list__item a {
  display: flex;
  gap: rem(18);
  @include mq("md") {
    gap: rem(50);
  }
}

.works-list__item-image {
  width: 100%;
}

.works-list__item-image img {
  width: 100%;
  aspect-ratio: 120/90;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 290/229;
  }
}

.works-list__item-category {
  font-size: rem(10);
  color: $gray;
  font-weight: $medium;
  background-color: $gray4;
  padding: rem(4) rem(15);
  min-width: rem(80);
  width: fit-content;
  @include mq("md") {
    font-size: rem(11);
    padding: rem(4) rem(18);
  }
}

.works-list__item-title {
  position: relative;
  display: inline-block;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(28 / 14);
  margin-top: rem(12);
  min-width: rem(157);
  @include mq("md") {
    margin-top: rem(30);
    font-size: rem(24);
  }
}

.works-list__item-title::after {
  content: "";
  position: absolute;
  bottom: rem(-2); /* 必要に応じて調整 */
  left: 0;
  width: 100%;
  height: rem(1); /* 下線の太さ */
  background-color: $black; /* 下線の色。お好みで変更 */
  transform: scaleX(0); /* 初期状態は縮小 */
  transform-origin: left; /* 左側から伸びるように */
  transition: transform 0.3s ease; /* アニメーションの速度とイージング */
}

/* works-list__itemにホバーした際にworks-list__item-titleの下線をアニメーションで表示 */
.works-list__item:hover .works-list__item-title::after {
  transform: scaleX(1);
}

.works-list__item-text {
  @include mq("md") {
    position: relative;
    line-height: calc(38 / 16);
    margin-top: rem(36);
    color: $gray;
    overflow: hidden;
    height: 4.75em;
  }
}

.works-list__item-text::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
  color: $gray;
  padding-left: 4px;
}

.works-list__item-date {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: rem(20);
  }
}
